@import "~@ancestable/shared/lib/styles/styles.scss";

.male-background {
  background-color: $male-color;
}

.female-background {
  background-color: $female-color;
}

.individual-container {
  padding: 10px;
}
